/*  your css code here. If applicable */

body{
	background-color:rgb(250,250,250);
}
.card-container{
    display:grid;
	grid-template-columns:repeat(3, 1fr);
	gap:35px;
	background-color:#fafafa;	
}
.card{
  width:240px;
  height:320px;
  border-radius: 16px;
  overflow: hidden;
  position:relative;
  background: #000;
  color: #fff;
 box-shadow: 0 8px 24px rgba(0,0,0,0.15);
	border:10px solid #ccc;
}
.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position:absolute;
  top:0;
  left:0;	
}

.card-date{
	position:absolute;
	top:16px;
	right:16px;
	color:white;
	padding:4px 12px;
	font-size:;
}
.content {
 position:absolute;
	bottom:0;
	left:0;
	right:0;
  padding: 24px;
	color:white;
}
.title{
	font-size:36px;
	font-weight:bold;
	margin-bottom:12px;
}
.description{
	font-size:18px;
	line-height:1.4;
	margin-bottom:16px;
	
}
.tag{
	display:inline-block;
	background: rgba(255,255,255,0.4);
    color: white;
	padding:6px 14px;
	border-radius:5px;
	font-weight:600;
	
	
}